<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true">

    <!-- Test Suite Configuration -->
    <testsuites>
        <testsuite name="Webboy MeasurementUnits Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- PHP Configuration -->
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>

        <!-- Environment variables -->
        <env name="APP_ENV" value="testing"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>